.idea/
.gradle/
*.iml
*.iws
local.properties
build/
release/
debug/
captures/
.externalNativeBuild/
.cxx/
*.jks
*.keystore
.DS_Store
*.log
/local.properties
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/libraries
/.idea/caches